*{
    margin:0;
    padding:0; 
    box-sizing:border-box;
}

.cabecalho{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    background-color: yellow;
    font-family:monospace;
    font-size:1.5rem;
}
.cabecalho-item{
    border: 2px solid black;
    border-radius:8px;
    background-color:#f2eab8;
    cursor: pointer;
    padding: 8px;
}
.cabecalho-item a{
    text-decoration: none;
    transition: all ease-out 0.4s;
    color: black;
}

.cabecalho-item :hover{
font-size: 1.6rem;
transition: all ease-in 0.2s;
background-color: #f3ecbe;
}

.logo{
    width:180px;
}

.logo:hover{
    cursor:pointer
}



    
