*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

.corpo{
    font-family: monospace;
    color: #33331a;   
    background-color: #f2eab8; 
}

.titulo{
    text-align:center;
    font-size: 2.5rem;
    padding: 170px 0;
    
}
    
.noticia{
    display:flex;
    justify-content:space-around;
    border-bottom: 2px solid black;
    padding-bottom:150px;
}

.img-taca{
    width:650px;
    margin-left: 60px;
    outline: solid black 4px;
}

.texto-principal{
font-weight: 600;
font-size: 1.75rem;
text-align:justify;
margin:15px 30px;

}

.titulo-tabela{
    font-size: 2rem;
    font-weight:bold;
    margin-top: 190px;
    text-align: center;
}

.tabela-infos {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#primeira-coluna{
    border:none;
}

td,th{
    border: 3px solid black;
    padding:10px 20px;
    font-size: 1.8rem;
    border-radius:6px;
    text-align: center;
}

th{
    background-color:black;
    color:white;
}


.titulo-formulario{
    margin:200px 800px;
}


.contanier{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    gap: 40px;
    border: 2px solid white;
    margin: 0 650px;
    padding: 90px 0;
    background-color:black;
    border-radius: 15px;
    opacity:0;
    z-index: 5;
}

.input{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    color:white;
}

#nome,
#email,
#mensagem{
    margin-left: 15px;
    padding: 10px 25px;
    font-size: 1.2rem;
}

button{
    padding: 10px 30px;
    margin:20px 0;
    cursor:pointer;
    text-transform: uppercase;
    font-family: monospace;
}

#forms{
    font-size: 30px;
    color:white;
    padding: 30px;
}

#formulario{
    padding-bottom: 200px;
}


.footer{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    background-color:black;
}
.texto-footer{
    color: white;
    font-family: monospace;
    font-size: 2rem;
}















































